body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #ffffff;
    user-select: none;
    box-sizing: border-box;
}

h1, h4 {
    text-align: center;
}

h1 {
    font-size: min(5vw, 5vh);
}

.layout {
    width: 100vw;
    height: 100vh;
}

.board {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.cell {
    border: 1px solid black;
    font-size: min(2vw, 2vh);
    height: min(8vw, 8vh);
    width: min(8vw, 8vh);
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.cellDimensions {
    height: min(8vw, 8vh);
    width: min(8vw, 8vh);
}

.emptyCell {
    border: 1px solid transparent;
    height: min(8vw, 8vh);
    width: min(8vw, 8vh);
}

.shape {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.shapeRow {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.highlight {
    background-color: #3d7f92;
    display: flex;
    cursor: pointer;
}

.flexDirectionRow {
    flex-direction: row;
}

.flexDirectionColumn {
    flex-direction: column;
}

.flexDirectionRowReverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.flexDirectionColumnReverse {
    flex-direction: column-reverse;
}

.red {
    background-color: #8d2929;
}

.shapesContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: min(3vw, 3vh);
}

.shapesContainer > div {
    width: min(20vw, 20vh);
    height: min(20vw, 20vh);
    transform: scale(0.5);
}

.boardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5vw;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    row-gap: min(3vw, 3vh);
    width: 28vw;
    min-width: 12vh;
}

.selectedShape {
    align-self: center;
    display: flex;
    transform: scale(0.5);
}

.currentDate {
    background: #ffc600;
}

.borderleft {
    border-left: 1px solid black;
}

.borderright {
    border-right: 1px solid black;
}

.bordertop {
    border-top: 1px solid black;
}

.borderbottom {
    border-bottom: 1px solid black;
}

.exterior {
    border-width: 2px;
}

.winner {
    font-size: min(5vw, 5vh);
    color: #147f14;
    font-weight: 600;
    margin-bottom: min(3vw, 3vh);
}

.count {
    font-size: min(4vw, 4vh);
    font-weight: 500;
    margin-bottom: min(3vw, 3vh);
}

button {
    padding: 10px;
    font-size: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    height: 6vh;
    min-height: 42px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: #000000;
    border-bottom: 1px solid #3a3a3c;
}

.header .left {
    width: 20vw;
    margin-left: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 2vw;
}

.header .center {
    font-size: 28px;
    font-weight: 600;
    min-width: 35px;
}

.header .right {
    width: 20vw;
    margin-right: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 2vw;
}

.header .icon {
    font-size: 20px;
    cursor: pointer;
}

/* .dialog-demo .p-button {
    margin: 0 .5rem 0 0;
    min-width: 10rem;
}

.dialog-demo p {
    margin: 0;
    line-height: 1.5;
} */

/* .dialog-demo .p-dialog .p-button {
    min-width: 6rem;
} */

.p-dialog-mask .p-dialog {
    margin: 8vw;
}